@mixin simpleButtonStyle {
  margin-top: 0;
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: 80%;
  text-align: center;
  padding: 8px 20px;
  font-size: 16px;
  font-family: mediumArFont;
  color: #fff;
  background-image: linear-gradient(90deg, transparent 50%, var(--main) 50%);
  background-position: 100%;
  background-size: 400%;
  border: 1px solid var(--main);
  border-radius: 10px;
  transition: all 0.6s ease-in-out;

  .btn_loader {
    position: absolute;
    left: 15px;
    top: 30%;
    width: 20px;
    height: 20px;
    padding: 2px;
    border: 3px dotted var(--white);
    border-style: solid solid dotted dotted;
    border-radius: 6px;
    transition: all 0.6s ease-in-out;
    display: inline-block;
    animation: rotation 2s linear infinite;
  }

  &:hover {
    background-position: 0;
    color: var(--main);
    background: #fff;

    .btn_loader {
      border: 3px dotted var(--main);
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  @keyframes rotation {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@mixin borderedButtonStyle {
  display: inline-block;
  padding: 5px 20px;
  font-family: mediumArFont;
  font-size: 16px;
  color: var(--main);
  background-image: linear-gradient(90deg, var(--main) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  border: 1px solid var(--main);
  border-radius: 10px;
  transition: all 0.6s ease-in-out;

  &:hover {
    background-position: 0;
    background: #fff;
    color: var(--white);
  }
}

@mixin buttonReaset {
  border: none;
  background: none;
  outline: none;
}

@mixin mainShadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.11);
}

@mixin boxShadow() {
  box-shadow: 0 2px 8px #00000024;
}

@mixin textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flexCenterAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexStartAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin verticalFlexStartAlignment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin alightFlexStartAlignment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexSpaceBetweenAlignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexSpaceAroundAlignment {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexEndAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin textWraper {
  word-break: break-word;
  word-spacing: 2px;
  font-size: 22px;
  color: var(--mainText);
  line-height: 1.6;
  text-align: start;
}

@mixin simpleShadow {
  box-shadow: 0 0 10px 2px var(--simpleShadow);
}

@mixin midShadow {
  box-shadow: 0 0 10px 2px var(--midShadow);
}

@mixin heighShadow {
  box-shadow: 0 0 10px 2px rgba(180, 180, 180, 0.6);
}
